
body {
  display: flex;
  flex-direction: column; 
}



      /*----------------------------------------------FOOTER-----------------------------------------------*/

#footer {
    width: 1910px;
    height: 700px;
    background: #0900E0;

    margin:200px 0 -24px -310px;

}


#div-footer{
    width: 460px;
    height: 206px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

#div-footer a{
    margin:100px auto;
}



#attention {
    font-family: 'Kameron';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 43px;
    text-decoration: underline;

    margin: -60px auto;
    color: #ffffff;
}