body {
    background-color: blanchedalmond;
}


#img-fond {

    width: 149.8%;
    height: 943px;
    margin: -118px -317px auto;
    background: url("/static/images/course2.jpg") no-repeat bottom;
    background-size: cover;
    background-color: blue;
}

#degrader {
    width: 149.8%;
    height: 750px;
    margin: -744px -317px auto;


    background: linear-gradient(180deg, rgba(1, 0, 65, 0) 0%, rgb(6, 0, 94) 100%); 
}

/* .card-index{
    display: flex;
    flex-direction: column;

    width: 147.99%;
    height: 150px;
    margin: 0px -317px auto;
    background-size: cover;
    background-color: blue;
} */

.bienvenue {
    position: absolute;
    width: 1900px;
    height: 300px;
    margin: -750px -320px auto;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;


    /*background-color: #FFFFFF;*/
}

.bienvenue h1 {
    
    font-family: 'Kameron';
    font-style: normal;
    font-weight: 547;
    font-size: 64px;
    line-height: 76px;

    color: #ffffff;


    text-decoration-line: underline;
    text-transform: uppercase ; 
    font-weight: bold;

    text-shadow: 30px 4px 30px rgb(0, 4, 255);

}
.bienvenue p {
    display: flex;
    flex-direction: column;
    
    margin: 100px auto 0 auto;
    font-family: 'Kameron';
    font-style: normal;
    font-weight: 547;
    font-size: 32px;
    line-height: 76px;
    font-weight: bold;


    color: #FFFFFF;


    text-decoration-line: underline;
    text-transform: uppercase;
    text-shadow: 0px 4px 10px rgb(25, 0, 255);

}

.logo{
    width: 300px;
    height: 300px;
    margin: -500px 480px auto;

    background-color: #ffffff;
    border-radius: 50%;
}


.card-epreuves {
    width: 50%;
    margin: 200px auto;
    border-radius: 100px;
    


    display: flex;
  justify-content: center;

}

.content-epreuves {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;  
}

.content-epreuves h5 {

    font-family: 'Kameron';
    font-style: normal;
    font-weight: 547;
    font-size: 32px;
    line-height: 76px;
    font-weight: bold; 
}

.container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 83%;
    height: 700px;
    margin: 150px 120px auto;
}

.card{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;

}
.card-offre{
    display: flex;

    width: 150%;
    height: 400px;
    gap: 50px;
    
    justify-content: center;

}

.card-info{
    display: flex;
    gap: 50px;
    height: 400px;

}

.card-offre h5{
    text-align: center;
    justify-content: center;

    font-family: 'Kameron';
    font-style: normal;
    font-weight: 547;
    font-size: 26px;
    line-height: 76px;
    font-weight: bold; 
}

.card-offre p{
    text-align: center;

    font-family: 'Kameron';
    font-style: normal;
    font-weight: 547;
    font-size: 20px;

}

.card-info h5{
    text-align: center;
    justify-content: center;

    font-family: 'Kameron';
    font-style: normal;
    font-weight: 547;
    font-size: 26px;
    line-height: 76px;
    font-weight: bold; 


}

.card-info p{
    justify-content: center;
    text-align: center;

    font-family: 'Kameron';
    font-style: normal;
    font-weight: 547;
    font-size: 20px;

}

.jour-epreuve hr{
    margin: -2px auto;

}

.card-header{
    width: 350px;
    margin: 20px auto 0 auto;
}

.btn-card-contact{
    margin: -70px -330px auto;
}