<!doctype html>
<html lang="fr">
<head>
    <title>Ajouter une épreuve</title>
</head>
<body>
    <h1>Nouvelle épreuve</h1>
    <form method="POST" enctype="multipart/form-data">

        <label>Nom:</label>
        <input type="text" name="nom_epreuve" required><br>

        <label>Date:</label>

        <input type="date" name="date_epreuve" required><br>

        <label>Prix Solo:</label>
        <input type="number" name="prix_solo" required><br>

        <label>Nombre de place:</label>
        <input type="number" name="nbr_place_solo" required><br>

        <label>Prix Duo:</label>
        <input type="number" name="prix_duo" required><br>

        <label>Nombre de place:</label>
        <input type="number" name="nbr_place_duo" required><br>

        <label>Prix Family:</label>
        <input type="number" name="prix_family" required><br>

        <label>Nombre de place:</label>
        <input type="number" name="nbr_place_family" required><br>

        <label>Image:</label>
        <input type="file" name="image" required><br>

        <button type="submit">Ajouter</button>
    </form>
</body>
</html>
