<!doctype html>
<html lang="fr">
<head>
    <title>Ajouter une épreuve</title>
</head>
<body>
    <h1>Nouvelle épreuve</h1>
    <form method="POST" enctype="multipart/form-data">

        {{ form.hidden_tag() }}

        {{ form.nom_epreuve.label }}
        {{ form.nom_epreuve() }}


        {{ form.date_epreuve.label }}
        {{ form.date_epreuve() }}


        {{ form.prix_solo.label }}
        {{ form.prix_solo() }}
        {{ form.nbr_place_solo.label }}
        {{ form.nbr_place_solo() }}

        {{ form.prix_duo.label }}
        {{ form.prix_duo() }}
        {{ form.nbr_place_duo.label }}
        {{ form.nbr_place_duo() }}

        {{ form.prix_family.label }}
        {{ form.prix_family() }}
        {{ form.nbr_place_family.label }}
        {{ form.nbr_place_family() }}


        {{ form.image.label }}
        {{ form.image() }}


        {{ form.submit }}
    </form>
</body>
</html>
