<!doctype html>
<html lang="fr">
<head>
    <title>Ajouter une épreuve</title>
</head>
<body>
    <h1>Nouvelle épreuve</h1>
    <form method="POST" enctype="multipart/form-data">

        <label>Nom:</label>
        <input type="text" name="nom_epreuve"><br>

        <label>Date:</label>

        <input type="date" name="date_epreuve"><br>

        <label>Prix Solo:</label>
        <input type="number" name="prix_solo"><br>

        <label>Prix Duo:</label>
        <input type="number" name="prix_duo"><br>

        <label>Prix Family:</label>
        <input type="number" name="prix_family"><br>

        <label>Image:</label>
        <input type="file" name="image"><br>

        <button type="submit">Ajouter</button>
    </form>
</body>
</html>
