{% extends 'base.html' %}

{% block title %}Dashboard Admin{% endblock %}

{% block content %}
    <h1>Dashboard Admin</h1>

    <h2>Informations personnelles</h2>
    <table border="1" cellpadding="5" cellspacing="0">
      <tr><th>Nom</th><th>Prénom</th><th>Email</th></tr>
      <tr>
        <td>{{ user_info.nom }}</td>
        <td>{{ user_info.prenom }}</td>
        <td>{{ user_info.email }}</td>
      </tr>
    </table>

    <h2>Mettre à jour mon profil</h2>
    <form method="POST">
      {{ update_admin_form.hidden_tag() }}
      {{ update_admin_form.update_admin(value="update_admin") }}
      {{ update_admin_form.update_info_user_id(value=current_user.id) }}
      {{ update_admin_form.new_nom.label }} {{ update_admin_form.new_nom() }}<br>
      {{ update_admin_form.new_prenom.label }} {{ update_admin_form.new_prenom() }}<br>
      {{ update_admin_form.new_email.label }} {{ update_admin_form.new_email() }}<br>
      {{ update_admin_form.submit() }}
    </form>

    <h2>Créer un utilisateur</h2>
    <form method="POST">
      {{ create_user_form.hidden_tag() }}
      {{ create_user_form.create_user(value="create_user") }}
      {{ create_user_form.nom.label }} {{ create_user_form.nom() }}<br>
      {{ create_user_form.prenom.label }} {{ create_user_form.prenom() }}<br>
      {{ create_user_form.email.label }} {{ create_user_form.email() }}<br>
      {{ create_user_form.password.label }} {{ create_user_form.password() }}<br>
      {{ create_user_form.role.label }} {{ create_user_form.role() }}<br>
      {{ create_user_form.submit() }}
    </form>

    <h2>Liste des utilisateurs</h2>
    <table border="1" cellpadding="5" cellspacing="0">
      <tr>
        <th>ID</th><th>Nom</th><th>Prénom</th><th>Email</th>
        <th>Rôle</th><th>Changer rôle</th><th>Supprimer</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.nom }}</td>
        <td>{{ user.prenom }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
      <td>
      <form method="POST" action="{{ url_for('admin.admin_dashboard') }}" style="display:inline;">
          {{ update_role_forms[user.id].hidden_tag() }}
          {{ update_role_forms[user.id].update_role() }}
          {{ update_role_forms[user.id].update_role_user_id() }}
          {{ update_role_forms[user.id].new_role() }}
          {{ update_role_forms[user.id].submit() }}
      </form>
    </td>
    <td>
      {% if user.id != current_user.id %}
      <form method="POST" action="{{ url_for('admin.admin_dashboard') }}" style="display:inline;" onsubmit="return confirm('Confirmer la suppression ?');">
          {{ delete_user_forms[user.id].hidden_tag() }}
          {{ delete_user_forms[user.id].delete_user() }}
          {{ delete_user_forms[user.id].delete_user_user_id() }}
          {{ delete_user_forms[user.id].delete(class="btn btn-danger") }}
      </form>
      {% endif %}
    </td>
      </tr>
      {% endfor %}
    </table>

<br>
<hr>
<br>
<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>ID</th>
    <th>Nom de l'offre (type_offre)</th>
    <th>Nombre de personne maximum</th>
    <th>Prix</th>
    <th>Billet restant</th>
    <th>Billet vendu</th>
  </tr>
  {% for offre in offres %}
  <tr>
    <td>{{ offre.id }}</td>
    <td>{{ offre.type_offre }}</td>
    <td>{{ offre.nombre_personne }} personne(s)</td>
    <td>{{ offre.prix }} euro</td>
    <td>{{ offre.bi_restant }}</td>
    <td>{{ offre.bi_vendu }}</td>
  </tr>
  {% endfor %}
</table>





<br>
<hr>

<h2>Mes Billets</h2>
<ul>
  {% for ticket in tickets %}
    <li>
      <a href="{{ url_for('admin.ticket_detail', ticket_id=ticket.id) }}" target="_blank">
        Voir mon ticket n°{{ ticket.id }} - {{ ticket.offre.type_offre }}
      </a>
    </li>
  {% else %}
    <li>Aucun billet acheté.</li>
  {% endfor %}
</ul>

{% endblock %}