{% extends "base.html" %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/epreuves.css') }}">{% endblock %}

{% block title %}Dashboard Epreuves{% endblock %}

{% block content %}

<br>

    <h1>Epreuves (coté administration)</h1>
<br>
    <div class="d-grid gap-2 col-6 mx-auto">
    <a href="{{ url_for('main.add_epreuves') }}" class="btn btn-primary btn-lg">Ajouter une épreuve</a>
    </div>

    <section class="section-epreuves">
 
        {% for epreuve in epreuves %}

        
            <div class="card card-epreuve" style="width: 29rem;">

                {% if epreuve.image_filename %}
                <img src="{{ url_for('static', filename='uploads/image/' + epreuve.image_filename) }}"  alt="Image de l'épreuve">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ epreuve.nom_epreuve }}</h5> 
                    <p class="card-text">Date de l'épreuve: ({{ epreuve.date_epreuve}})</p>

                <a href="{{ url_for('main.epreuve_details', nom_epreuve=epreuve.nom_epreuve) }}" class="btn btn-primary">Plus de détails</a>
                </div>
                
                
            </div>
            
            {% endfor %}
    </section>

{% endblock %}
