{% extends "base.html" %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">{% endblock %}

{% block title %}Contact{% endblock %}

{% block content %}

<section class="form-section section-form-add  box-shadow">

    <h1>Contactez-nous</h1>

    <div class="mb-3">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.nom.label }} {{ form.nom(class="form-control") }}
            <br>
            {{ form.email.label }} {{ form.email(class="form-control") }}
            <br>
            {{ form.message.label }} {{ form.message(class="form-control msg-form") }}
            <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkDefault" required>
                <label class="form-check-label" for="checkDefault">
                    Les informations recueillies sont nécessaires pour traiter votre message et ne seront pas utilisées à d'autres fins.
                </label>
            </div>

            <br>
            {{ form.submit(class="form-control btn btn-primary") }}

        </form>
    </div>

</section>


{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}