<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ epreuve.nom_epreuve }}</title>
</head>
<body>
    <h1>{{ epreuve.nom_epreuve }}</h1>

    <p>Date de l'épreuve : {{ epreuve.date_epreuve.strftime('%d/%m/%Y') }}</p>

    {% if epreuve.image_filename %}
        <img src="{{ url_for('static', filename='uploads/' ~ epreuve.image_filename) }}" alt="Image de l'épreuve" style="max-width: 400px;">
    {% else %}
        <p>Aucune image disponible</p>
    {% endif %}

    <h2>Offres disponibles :</h2>
    <ul>
        {% for offre in epreuve.offres %}
            <li>
                {{ offre.type_offre }} : {{ offre.nombre_personne }} personne(s) - {{ offre.prix }} €
            </li>

        <a href="{{ url_for('paiement.paiement_epreuve', type_offre=offre.type_offre) }}">Acheter</a>
        {% endfor %}
    </ul>

    <a href="{{ url_for('main.update', epreuve_id=epreuve.id) }}">Modifier</a>
       <form action="{{ url_for('main.delete', epreuve_id=epreuve.id) }}" method="post" style="display:inline;">
        <button type="submit">Supprimer</button>
      </form>



    <a href="{{ url_for('main.all_epreuve') }}">Retour à l'accueil</a>
</body>
</html>
