<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Paiement</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/paiement.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>


<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card p-4">
        <h2 class="mb-4 text-center"><i class="fa fa-lock form-icon"></i>Paiement sécurisé</h2>

<br>

            <h3>
                {{ offre.type_offre }} : {{ offre.nombre_personne }} personne(s) - {{ offre.prix }} €
            </h3>

<br>

        <form method="POST" action="{{ url_for('paiement.paiement_epreuve', type_offre = offre.type_offre) }}" class="needs-validation" novalidate>

            {{ form.hidden_tag() }}

            <h4>Personne n°1:</h4>

                <div  class="mb-3">
                      {{ form.pers1_nom.label(class="form-label") }} {{ form.pers1_nom(class="form-control") }}
                </div>
                <div  class="mb-3">
                    {{ form.pers1_prenom.label(class="form-label") }} {{ form.pers1_prenom(class="form-control") }}
                </div>
                <div  class="mb-3">
                    {{ form.pers1_email.label(class="form-label") }} {{ form.pers1_email(class="form-control", placeholder="vous@example.com") }}
                </div>

<br>
<hr class="my-3">
<br>
            {% if offre.nombre_personne == 2 %}
                        <h4>Personne n°2:</h4>
<br>
                <div class="mb-3">
                      {{ form.pers2_nom.label(class="form-label") }} {{ form.pers2_nom(class="form-control") }}
                      {{ form.pers2_prenom.label(class="form-label") }} {{ form.pers2_prenom(class="form-control") }}
                </div>

<br>
<hr class="my-3">
<br>
          
            {% elif offre.nombre_personne == 4 %}

            <h4>Personne n°2:</h4>

<br>

            <div class="mb-3">
                  {{ form.pers2_nom.label(class="form-label") }} {{ form.pers2_nom(class="form-control") }}
                  {{ form.pers2_prenom.label(class="form-label") }} {{ form.pers2_prenom(class="form-control") }}
            </div>

<br>
<hr class="my-3">
<br>
            <h4>Personne n°3:</h4>

            <br>

            <div class="mb-3">
                  {{ form.pers3_nom.label(class="form-label") }} {{ form.pers3_nom(class="form-control") }}
                  {{ form.pers3_prenom.label(class="form-label") }} {{ form.pers3_prenom(class="form-control") }}
            </div>

<br>
<hr class="my-3">
<br>
            <h4>Personne n°4:</h4>

<br>

            <div class="mb-3">
                  {{ form.pers4_nom.label(class="form-label") }} {{ form.pers4_nom(class="form-control") }}
                  {{ form.pers4_prenom.label(class="form-label") }} {{ form.pers4_prenom(class="form-control") }}
            </div>

                {% endif %}

<br>
<hr class="my-3">
<br>
            <h4>Informations de paiement:</h4>
        
<br>
            <div>
                  {{ form.nom_card.label(class="form-label") }} {{ form.nom_card(class="form-control") }}
                  {{ form.card_number.label(class="form-label") }} {{ form.card_number(class="form-control") }}
                  {{ form.expiration_card.label(class="form-label") }} {{ form.expiration_card(class="form-control") }}
                  {{ form.CVV_card.label(class="form-label") }} {{ form.CVV_card(class="form-control") }}
            </div>

            <br>

            {{ form.submit(class="btn btn-primary") }}

            {% if error %}
              <div class="error">{{ error }}</div>
            {% endif %}






        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
(() => {
  'use strict';
  const forms = document.querySelectorAll('.needs-validation');
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  });
})();


document.querySelector('.theme-toggle').addEventListener('click', () => {
  document.body.classList.toggle('light-mode');
});

</script>
</body>
</html>
