<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Paiement accepté ✅</h2>

{% if current_user.role == 'admin' %}
<a href="{{url_for ('admin.admin_dashboard' , ticket_id = ticket.id)}}">Voir mon ticket Dans mon espace</a>
{% elif current_user.role == 'employe' %}
<a href="{{url_for ('employe.employe_dashboard' , ticket_id = ticket.id)}}">Voir mon ticket Dans mon espace</a>
{% elif current_user.role == 'utilisateur' %}
<a href="{{url_for ('utilisateur.utilisateur_dashboard' , ticket_id = ticket.id)}}">Voir mon ticket Dans mon espace</a>
{% endif %}
<a href="{{url_for ('main.home')}}">Retour à l'accueil</a>


</body>
</html>