{% extends "base.html" %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">{% endblock %}

{% block title %}Inscription{% endblock %}

{% block content %}

<section class="form-section">
        <h1>Inscription</h1>

        <div class="mb-3 form-container">
            <form method="POST" class="log-form">

                {{ form.hidden_tag() }}

                {{ form.nom.label }}
                {{ form.nom(class="form-control") }}

                {{ form.prenom.label }}
                {{ form.prenom(class="form-control") }}

                {{ form.email.label }}
                {{ form.email(class="form-control") }}

                {{ form.password.label }}
                {{ form.password(class="form-control") }}

                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control") }}
                <br>
                
                {{ form.submit(class="form-control btn btn-success") }}

            </form> 
        </div>

</section>

{% endblock %}
