{% extends "base.html" %}

{% block title %}Scan des billets{% endblock %}

{% block content %}


    <h2>Contrôle des tickets</h2>

<input type="text" id="ticket_id" placeholder="Colle ou scanne le QR code" name="scan">
<button onclick="simulateScan()">Vérifier</button>

<div id="result"></div>

<script>
  function simulateScan() {
      const ticketId = document.getElementById("ticket_id").value;
      fetch(`/api/validate_ticket/${ticketId}`)
        .then(res => res.json())
        .then(data => {
            document.getElementById("result").innerText = data.message;
        });
  }
</script>

{% endblock %}