{% extends "base.html" %}

{% block title %}Modifier l'épreuve{% endblock %}

{% block content %}

    <h1>Modifier l'épreuve</h1>

    <form method="post" enctype="multipart/form-data">


        {{ form.hidden_tag() }}

        {{ form.new_nom_epreuve.label }}
        {{ form.new_nom_epreuve() }}


        {{ form.new_date_epreuve.label }}
        {{ form.new_date_epreuve() }}


        {{ form.new_prix_solo.label }}
        {{ form.new_prix_solo() }}
        {{ form.new_nbr_place_solo.label }}
        {{ form.new_nbr_place_solo() }}

        {{ form.new_prix_duo.label }}
        {{ form.new_prix_duo() }}
        {{ form.new_nbr_place_duo.label }}
        {{ form.new_nbr_place_duo() }}

        {{ form.new_prix_family.label }}
        {{ form.new_prix_family() }}
        {{ form.new_nbr_place_family.label }}
        {{ form.new_nbr_place_family() }}


        {{ form.new_image.label }}
        {{ form.new_image() }}

        {{ form.new_submit() }}
    </form>

    <a href="{{ url_for('main.all_epreuve') }}">Retour</a>


{% endblock %}